<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" default-init-method="myInit" default-destroy-method="myDestroy">

	<bean id="triangle"
		class="com.learnspring.learn.learn_spring.TriangleList">
		<property name="points">
			<list>
				<ref bean="pointA"/>
				<ref bean="pointB"/>
				<ref bean="pointC"/>
			</list>
		</property>
	</bean>

	<bean id="pointA" class="com.learnspring.learn.learn_spring.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointB" class="com.learnspring.learn.learn_spring.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointC" class="com.learnspring.learn.learn_spring.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>
	
	<bean class="com.learnspring.learn.learn_spring.DisplayNameBeanPostProcessor"/>

</beans>
